export(createRevMappedCN)
export(DNAcopyToGRanges)
export(entrezToGRanges)
export(getOverlappingRanges)
export(mapEntrezIdToSegments)
export(mapGeneToProbes)
export(mapSegmentsToMarkers)
export(plot.revMapLimmaFit)
export(revMapLimma)
export(seg2assay)
export(segmentsToGRanges)
